---
import ContactModal from "./ContactModal.astro";

let showModal = false;
const date = new Date().getFullYear();
const footerSections = [
  {
    title: "Useful Links",
    links: [
      {
        label: "Twitter",
        url: "https://www.twitter.com/luisdavidgd",
        target: "_blank",
        icon: "fab fa-twitter",
      },
      {
        label: "Blog",
        url: "https://ludablog.com",
        target: "_blank",
        icon: "fab fa-blogger",
      },
      {
        label: "Instagram",
        url: "https://www.instagram.com/luisdavidgd",
        target: "_blank",
        icon: "fab fa-instagram",
      },
    ],
  },
  {
    title: "Other Resources",
    links: [
      {
        label: "Fixture Generator",
        url: "https://luisdavidgd.github.io/fixture-generator",
        target: "_blank",
        icon: "fab fa-vuejs",
      },
      {
        label: "React Project",
        url: "https://luisdavidgd.github.io/react",
        target: "_blank",
        icon: "fab fa-react",
      },
      {
        label: "Github",
        url: "https://www.github.com/luisdavidgd",
        target: "_blank",
        icon: "fab fa-github",
      },
    ],
  },
];
---

<footer class="footer">
  <div class="container">
    <div class="grid">
      <div>
        <h4>Let's keep in touch!</h4>
        <p>
          If you’d like to get in touch, use the
          <button
            class="link-btn"
            on:click|preventDefault={() => (showModal = true)}
            >contact form</button
          >
        </p>
      </div>

      <div>
        <div class="footer-links">
          {
            footerSections.map((section, index) => (
              <div
                class="section"
                style={index === 0 ? "margin-left:auto" : ""}
              >
                <span>{section.title}</span>
                <ul>
                  {section.links.map((link) => (
                    <li>
                      <a href={link.url} target={link.target || "_self"}>
                        {link.icon && <i class={link.icon} />}
                        {link.label}
                      </a>
                    </li>
                  ))}
                </ul>
              </div>
            ))
          }
        </div>
      </div>
    </div>

    <hr />

    <div>
      <p>Copyright © {date} Luis David Gallo Dawson.</p>
    </div>
  </div>

  {showModal && <ContactModal on:close={() => (showModal = false)} />}
</footer>
